	
#content-name {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

body{
	font: 16px Helvetica, Sans-Serif;
	background: White;
}
